In [16]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [17]:
df=pd.read_csv("C:/Users/prem/Desktop/Datasets/train.csv")

In [18]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban

In [19]:
df.describe() # Get the summary of numerical variables #

C:\Users\prem\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,NaN,NaN,NaN
50%,3786.000000,1025.000000,NaN,NaN,NaN
75%,5060.000000,2430.500000,NaN,NaN,NaN
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [20]:
df["Property_Area"].value_counts()

Urban        140
Semiurban    116
Rural        111
Name: Property_Area, dtype: int64

In [24]:
df["ApplicantIncome"].hist(bins=50)

In [28]:
df.boxplot(column='ApplicantIncome',by="Education")

In [29]:
df['LoanAmount'].hist(bins=50)

In [31]:
temp1 = df['Credit_History'].value_counts(ascending=True)
temp2 = df.pivot_table(values='Loan_Status',index=['Credit_History'],aggfunc=lambda x: x.map({'Y':1,'N':0}).mean())

In [35]:
print ("Frequency Table for Credit History:") 
print (temp1)

print ("\nProbility of getting loan for each Credit History class:") 
print (temp2)

Frequency Table for Credit History:
0.0     59
1.0    279
Name: Credit_History, dtype: int64

Probility of getting loan for each Credit History class:
Empty DataFrame
Columns: []
Index: []

In [37]:
df.apply(lambda x: sum(x.isnull()),axis=0)

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [39]:
 df['LoanAmount'].fillna(df['LoanAmount'].mean(), inplace=True)

In [40]:
df['Self_Employed'].fillna('No',inplace=True)

In [41]:
df['LoanAmount_log'] = np.log(df['LoanAmount'])
df['LoanAmount_log'].hist(bins=20)